A, BODY, CODE, DIV, EM, H1, HTML, IMG, P, STRONG, PRE, SMALL {
  background: transparent;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
}
/*
* html body {
  overflow: hidden;
}
* div.content {
  height: 100%;
  overflow: auto;
}
@media screen {
  body>div.header {
   position:fixed;
  }
  body>div.sidebar {
   position:fixed;
*/
BODY {
/*font-family: Arial, Verdana, sans-serif;*/
  margin: 0;
/*margin: 1em 2em 2em 2em;*/
  padding: 100px 0 0 0;
  color: #001030;
  background: #FFFFFF
}
P {
  margin: 0 0 0.6em 0;
}
img {
  0;
}
A {
  text-decoration: none;
}
A:link {
  color: #001030;
  background: transparent none;
}
A:visited {
  color: #660066;
  background: transparent none;
}
A:active {
  color: #001090;
  background: transparent none;
}
A:hover {
  color: #0010F0;
  background: #CCCCCC;
}
PRE,
CODE {
  padding: 0;
  font-family: "Lucida Console", Monaco, monospace;
}
}
.Banner {
  font-family: Arial, Verdana, sans-serif;
  font-size: smaller;
  color: #990000;
  background: transparent;
  text-align: center;
}
.Details {
  font-family: Arial, Verdana, sans-serif;
  font-size: smaller;
  text-align: center;
}
A STRONG {
  text-decoration: none;
}
H1 {
  font-family: Arial, Verdana, sans-serif;
  font-size: x-large;
  margin: 0;
  padding: 0;
  color: #006991;
  background: transparent none;
}
H2 {
  font-family: Arial, Verdana, sans-serif;
  font-size:large;
  margin: 0.9em 0 0.3em 0;
  padding: 0;
  color: #006991;
  background: transparent none;
  text-transform: uppercase;
}
H3 {
  font-family: Arial, Verdana, sans-serif;
  font-size: medium;
  margin: 0.9em 0 0.3em 0;
  padding: 0;
  color: #666666;
  background: transparent none;
}
H4 {
  font-family: Arial, Verdana, sans-serif;
  font-size: medium;
  margin: 0.6em 0 0 0;
  padding: 0;
  color: #006991;
  background: transparent none;
  border-bottom: solid;
}
.header {
  margin-left: 0.3em
  font-family: Arial, Verdana, sans-serif;
  position:absolute;
  top: 0;
  left: 0;
  height: 100px;
  display: block;
  color: #006991;
  border-bottom: solid;
  vertical-align: bottom;
  width: 100%;
}
.header a {
  font-family: Arial, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: block;
  color: #006991;
}
.header:first-child {
  border-left: none;
}
.header ul {
  margin: 0;
  color: #FFFFFF;
  list-style: none;
}
.logo {
  position: absolute;
  width: 160px;
  margin: 0 1em 0 0.3em;
}
.menu {
  padding: 0.6em  0 0 0;
  position: absolute;
  left: 160px;
  float: left;
}
.menu a {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 150px;
  border-left: solid;
}
.menu ul {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  list-style: none;
  border: none;
}
.sidebar {
  margin: 0 1em 0 0.3em;
  padding: 0;
  font-size: small;
  width: 160px;
  position: absolute;
  left: 0;
  top: 100px;
}
.sidebar ul ul {
/*font-family: "Lucida Console", Monaco, monospace;*/
  margin-left: -20px;
  list-style-type: disc;
  color: #666666;
}
.content {
  margin: 0.3em;
  overflow:auto;
}
.list-unstyled {
  margin: 0;
  padding: 0;
  list-style:none;
}
form {
  width:10%
  margin:50px auto;
}
.search {
  position: absolute;
  left: 160px;
  top: 50px;
/*border:0px solid #dbdbdb;*/
}
.button {
  position:relative;
  padding:6px 15px;
  left:-8px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
}
.button:hover  {
  background-color:#fafafa;
  color:#207cca;
}
td {
  vertical-align: top;
}
@media screen and ( max-width: 640px) {
  .menu {
     display: none;
  }
}

REPLACE "ul.ml-navigation-bar-3",".menu",C / LINES=CUR+1,E
/*Menu*/
menu {
  margin: 40px auto;
  width: 960px;
  display: block;
  height: 50px;
  background-color: #f1f1f1;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25), inset 0 0 3px rgba(255,255,255,.8);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25), inset 0 0 3px rgba(255,255,255,.8);
  box-shadow: 0 1px 2px rgba(0,0,0,.25), inset 0 0 3px rgba(255,255,255,.8);
  background-image: -webkit-linear-gradient(bottom, #e5e5e5, #fff);
  background-image: -moz-linear-gradient(bottom, #e5e5e5, #fff);
  background-image: -o-linear-gradient(bottom, #e5e5e5, #fff);
  background-image: -ms-linear-gradient(bottom, #e5e5e5, #fff);
  background-image: linear-gradient(to top, #e5e5e5, #fff);
}

/*Dropdowns*/
.menu ul{display:none;}
.menu li:hover>ul{display:block}
.menu ul{position: absolute;left:0px;top:98%;}
.menu ul ul{position: absolute;left:98%;top:-20px;}
.menu ul {
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25), inset 0 0 3px rgba(255,255,255,.8);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25), inset 0 0 3px rgba(255,255,255,.8);
  box-shadow: 0 1px 2px rgba(0,0,0,.25), inset 0 0 3px rgba(255,255,255,.8);
  z-index: 5000;
}

/*List Items*/
.menu li{
  display:block;
  margin: 0px;
  float:left;
  border-right: 1px solid #ccc;
  -webkit-box-shadow: 1px 0px 0px rgba(255,255,255,.75);
  -moz-box-shadow: 1px 0px 0px rgba(255,255,255,.75);
  box-shadow: 1px 0px 0px rgba(255,255,255,.75);
}

.menu li.active {
  border: none;
}

.menu ul li {
  float:none;
  margin: 5px 0;
}

/* Regular Links*/
.menu a:active, .menu a:focus {
  outline-style:none;
}

.menu a {
  height: 50px;
  display: block;
  line-height: 50px;
  background: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.50);
  padding: 0px 15px;
  text-decoration: none;
  color: #858585;
  margin: 0px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

/*Multi-level Links*/

.menu ul a {
  margin: 0px;
  height: 40px;
  line-height: 40px;
}

.menu span{
  overflow:hidden;
}

.menu ul a {
  text-align:left;
  white-space:nowrap;
}

.menu li:hover{
  position:relative;
}

/*Active State*/
.menu li.active a, .menu li.active:hover a {
  padding: 0 22px;
  background-color: #51a0e2;
  background-image: -webkit-linear-gradient(bottom, #4592dc, #60aae5);
  background-image: -moz-linear-gradient(bottom, #4592dc, #60aae5);
  background-image: -o-linear-gradient(bottom, #4592dc, #60aae5);
  background-image: -ms-linear-gradient(bottom, #4592dc, #60aae5);
  background-image: linear-gradient(to top, #4592dc, #60aae5);
  color: #fff;
  text-shadow: none;
}

/*Hover State*/
.menu li:hover>a{
  color: #fff;
  text-shadow: none;
  background-color: #666;
  text-decoration:none;
}

.menu li a:hover{
  position:relative;
}

/*Arrow Images*/
.menu span{
  display:block;
  background-image:url(./arrow-1.png);
  background-position:right center;
  background-repeat: no-repeat;
  padding-right:18px;
}
.menu li:hover>a>span{
  background-image:url(./arrow-1a.png);
}

.menu a:hover span{ background-image:url(./arrow-1a.png)}
.menu ul span,.menu a:hover table span{ background-image:url(./arrow-2.png)}
.menu ul li:hover > a span{ background-image:url(./arrow-2a.png);}
.menu table a:hover span,.menu table a:hover a:hover span,.menu table a:hover a:hover a:hover span{background-image:url(./arrow-1.png)}
.menu table a:hover table span,.menu table a:hover a:hover table span{background-image:url(./arrow-1.png)}

/*Search Field*/
.menu .search-field {
  float: right;
  width: 250px;
  padding: 0px;
  margin: 8px;
  height: 34px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.5);
  -moz-box-shadow: inset 0 0 3px rgba(0,0,0,.5);
  box-shadow:  inset 0 0 3px rgba(0,0,0,.5);
}

.menu .search-field input[type=text] {
  background: none;
  border: none;
  text-decoration: none;
  color: #bababa;
  font-weight: normal;
  font-size: 14px;
  width: 184px;
  height: 24px;
  padding: 6px 5px 5px 12px;
}

.menu .search-field input[type=text]:focus {
  outline: none;
}

.menu .search-button {
  float: left;
  margin:  8px 0px 4px 8px;
}





